This file is part of fm-tools, a library for interacting with fm-data files:
https://gitlab.com/sosy-lab/software/fm-actor

{% for copyright_line in copyright_lines %}
{{ copyright_line }}
{% endfor %}

{% for expression in spdx_expressions %}
SPDX-License-Identifier: {{ expression }}
{% endfor %}